.container{
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background-image: url(./images/background.jpg);
    background-size: 100% 100%;
}

#up{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 213px;
    height: 56px;
    background:none;
    border-radius: 20px;
}

.score{
    border-radius: 10px;
}

.middle{
    display: flex;
    flex-direction: column;
    font-size:large ;
    align-items: center;
    justify-content: space-evenly;
    width: 366px;
    height: 366px;
    border-radius: 50%;
}

#down{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 333px;
}

button, img{
    border-radius: 50%;
    width: 83px;
    height: 83px;
}

.onPlay img{
    width: 100px;
    height: 100px;
}
#button{
    background: none;
    color: white;
    font-size: large;
    width: 133px;
    height: 133px;
    border: white 2px solidgit;
}
.yourChoice, .computerChoice{
    justify-content: center;
    border-radius: 50%;
    background-color: #EDF1D6;
    width: 100px;
    height: 100px;
    background: none;
}

p{
    color: white;
}
.on{
    display: none;
    background: none;
    color: white;
}
#playAgain{
    width: 100px;
    height: 100px;
    font-size: large;
    border: white 2px solid;
}
